/TreadmillCrane.KeyValueToObjectConverter/obj
/TreadmillCrane.KeyValueToObjectConverter/bin
/TreadmillCrane.KeyValueToObjectConverter.Tests/obj
/TreadmillCrane.KeyValueToObjectConverter.Tests/bin
/.vs
